@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

@keyframes myAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.navbar {
  background-color: #1c2130;
  .justify-content-end {
    a {
      color: white;
      text-decoration: none;
      &:hover {
        color: rgb(231, 231, 231);
      }
    }
    .nav-dropdown {
      color: #1c2130;
    }
  }
}
// #f6f6f6
.main {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;

  .task-list {
    padding-top: 5rem;
    width: 100%;
    .btn-status {
      svg {
        opacity: 0;
        &:hover {
          opacity: 1;
        }
      }
    }
    .btn-add {
      margin-bottom: 2rem;
    }
    .table {
      animation: myAnim 1s ease 0s 1 normal forwards;
    }
  }
}
.profile-content {
  padding-top: 4rem;
  .container-fluid {
    padding-top: 4rem;
    .row {
      width: 300px;
      .vl {
        border-left: 1px solid rgb(112, 112, 112);
        height: 100%;
      }
    }
  }
}

.login,
.register,
.forgot {
  font-family: "Montserrat", sans-serif;
  align-items: center;
  height: 100vh;
  background-color: #1c2130;
  .validation {
    color: red;
    font-size: 12px;
    margin-left: 1rem;
  }
  .btn {
    font-weight: bold;
    width: 100%;
    background-color: #1c2130;
    padding: 0.5rem;
    color: white;
    &:hover {
      background-color: #282f44;
      color: white;
    }
  }
  .footer {
    margin-top: 2rem;
    text-align: center;

    h6 {
      margin-bottom: 2rem;
    }
  }
}

@media (min-width: 610px) {
  .main {
    .task-list {
      width: 70%;
    }
  }
}
